.sidebar {
    width: 200px;
    height: 100vh;
    color: white;
    transition: width 0.3s ease;
    /* Add background color for better visibility */
    position: relative;
    overflow: hidden;
    background-color: rgb(38, 38, 40);
}

.sidebar.closed {
    width: 50px;
    /* Adjust as necessary */
}

.sidebar.open {
    width: 200px;
    /* Adjust as necessary */
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle-btn:hover {
    background-color: transparent;
}

.header-nav ul {
    list-style-type: none;
    padding: 0;
}

.header-nav ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 7px;
    transition: background-color 0.3s ease;
}

.header-nav ul li a img {
    margin-right: 10px;
}

/* nav ul li a:hover {
    background-color: #555;
} */

.active-link a {
    background-color: var(--primary-dark-blue);
    /* Highlight the active link */
    color: white;
}

.sidebar.closed .link-text {
    display: none;
    /* Hide text in the minimized sidebar */
}

.header-nav ul li {
    /* padding: 3px 7px; */
    text-decoration: none;
    /* font-size: 10px; */
    color: white;
    display: block;
    border: transparent;
    border-radius: 5px;
}

.header-nav ul li a{
    display: flex;
}