/* login.css */

.login-container {
    height: 100vh;
    display: flex;
}

.login-left {
    background: linear-gradient(to bottom, #002f6c, #009fe3);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-header h1 {
    font-size: 3rem;
}

.login-header p {
    font-size: 1.5rem;
}

.login-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: white;
}

.language-switch {
    margin-bottom: 2rem;
}

.language-switch button {
    margin-left: 1rem;
}

.login-form-header {
    margin-bottom: 2rem;
}

.login-form-button {
    margin-top: 2rem;
}