.product-list-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    width: calc(100vw-50px);
    min-height: 80vh;
}

.product-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.product-list-header h2 {
    font-weight: 700;
    margin: 0;
}

.product-list-header button {
    /* background-color: rgb(86, 167, 228); */
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.product-list-header button:hover {
    background-color: #6ba7f67b;
    transition: 0.3s ease-in;
}

/* Override the padding for the Ant Design table cells */
.ant-table-cell {
    padding: 5px !important;
}

